.card-holder{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  background-color: #9DEC8F;
  border-radius: 15px;
  padding: 20px 15px;
}