.education-title{
    margin-top: 70px;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .education-title *{
        font-size: 80px;
    }
}

@media only screen and (max-width: 400px){
    .education-title *{
        font-size: 50px;
    }
}

.education-article--wrapper{
    display: flex;
    justify-content: space-around;
}

.education-article{
    width: 30%;
    margin-top: 50px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education-article *{
    font-family: Montserrat;
}

.education-article--image{
    padding:0;
    border-radius: 10px;
}

.education-article--title{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
    width:fit-content;
}

.education-article--text{
    margin-bottom: 20px;
}

.education-article--link{
    color: #1D7110;
    text-decoration: underline;
    width:fit-content;
}

@media only screen and (min-width: 2000px){
    .education-article--wrapper{
        max-width: 1900px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px){
    .education-article--wrapper{
        flex-direction: column;
        align-items: center;
    }
    .education-article{
        margin-bottom: 40px;
        width: 80%;
        height: fit-content;
    }
    .education-article--image{
        width:100%;
    }
    .education-title{
        font-size: 80px;
    }
}

@media only screen and (max-width: 400px){
    .education-title{
        font-size: 60px;
    }
}