.footer{
    margin:100px 0 30px 0;
  }
  
  .footer-background{
    height:130px;
  }
  
  .footer-title{
    font-family: Montserrat;
    font-weight: bold;
  }

  .footer-section *{
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 2;
  }

  .footer-link{
    color: #1D7110;
    text-decoration: underline;
  }