@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: source-sans-pro;
  src: url(../public/font/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: source-sans-pro;
  src: url(../public/font/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/font/Montserrat.ttf);
}

*{
  font-family: source-sans-pro;
}

*::selection {
    background-color: #DEFFE7;
}