.service-article{
    width: 30%;
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-article--wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.service--text{
    font-size: 20px;
}