.card-holder{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
  background-color: #9DEC8F;
  padding: 0;
  margin: 15px 5px;
  border-radius: 15px;
  inline-size: 316px; 
  overflow-wrap: break-word;
  box-shadow: 5px 5px 5px #375f3030;
}

.card-image{
  width: 316px;
  height: fit-content;
  max-height: 400px;
  margin:0;
}

.card-desc, .card-owner, .card-street{
  padding: 10px 20px 10px 20px;
  font-size: 19px;
}

.card-owner{
  font-size: 17px;
  padding-bottom: 0;
  margin-bottom: 5px;
  color:#375f30
}

.card-button{
  margin: 0 0 10px 70%;
}

.ocistimo-subtitle{
  font-size: 25px;
}

.ocistimo-wrapper{
  max-width: 1900px;
  margin: 0 auto;
}



.modal--title{
  color: #375f30;
}

.modal--input{
  margin: 10px 0;
  font-size: 20px;
  width: 100%;
  border: 1px solid #375f30;
  border-radius: 3px;
  padding: 5px;
}

.modal--input-file{
  margin-top: 25px;
}

.login-modal--users-name-name{
  color:#375f30;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
}

@media only screen and (max-width: 950px){
  .ocistimo-wrapper-input{
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 40px;
  }

  .ocistimo-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .post-modal-button{
    margin: 30px 0;
  }
}