.education-return{
    margin-left: 30px;
    font-size: 20px;
    color: #1D7110;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.odvoz--link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 1500px){
    .education-return{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.education-subpage-background{
    height: 710px;
    padding: 10px;
    margin-top: 50px;
    margin-top: 330px;
    right:0;
}

.education-subpage--wrapper{
    margin: 100px 100px 0 100px;
}

.education-subpage--wrapper *{
    font-size: 20px;
}

.education-subpage--subtitle{
    margin: 60px 0 40px 0;
    font-size: 40px;
}

.education-subpage--bulletpoints *{
    margin: 15px 0;
}

.education-subpage--organic{
    display:inline;
}

.education-subpage--organic--beginning{
    color: #1D7110;
    font-weight: bolder;
}

@media only screen and (max-width: 600px){
    .education-subpage--subtitle{
        font-size: 30px;
        margin-top: 50px;
    }
}

.education-subpage--text{
    max-width: 1000px;
    margin: 100px auto 0 auto;
}

.education-subpage--bulletpoints{
    margin: 0 auto;
    max-width: 65%;
}

.education-subpage--wrapper{
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 50px;
}

.education-subpage--subtitle{
    margin: 100px auto 30px auto;
    text-align: center;
}

@media only screen and (max-width: 2000px){
    .education-subpage--wrapper{
        max-width: 80%;
    }
}

@media only screen and (max-width: 1100px){
    .education-subpage--text{
        max-width: 80%;
    }
}

@media only screen and (max-width: 1000px){
    .education-article--image{
        width: 100%;
        height: fit-content;
    }
    .education-article--text{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px){
    .education-subpage--bulletpoints{
        width:90%;
        max-width: unset;
    }
}

@media only screen and (max-width: 900px){
    .otpad-title-bottom, .organic-title-bottom, .djeca-title-bottom{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 455px){
    .otpad-title{
        font-size: 50px;
    }
}

@media only screen and (max-width: 670px){
    .organic-title{
        font-size: 60px;
    }
}

@media only screen and (max-width: 415px){
    .organic-title{
        font-size: 50px;
    }
}

@media only screen and (max-width: 345px){
    .organic-title{
        font-size: 45px;
    }
}

@media only screen and (max-width: 680px){
    .djeca-title{
        font-size: 60px;
    }
}

@media only screen and (max-width: 430px){
    .djeca-title{
        font-size: 50px;
    }
}

@media only screen and (max-width: 360px){
    .djeca-title{
        font-size: 40px;
    }
}